# Created by .ignore support plugin (hsz.mobi)
log/
target/
src/main/webapp/node_modules/
src/main/webapp/dist/
/src/main/webapp/static/
.idea/dataSources.local.xml
.idea/dataSources/
src/main/java/com/wts/entity/base/BaseCoursestudent.java
